In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import sqlite3
import sqlalchemy
pd.options.mode.chained_assignment = None

In [41]:
connection = sqlite3.connect('Data\PersonalData.db')
cursor = connection.cursor()
engine = sqlalchemy.create_engine('sqlite:///Data/PersonalData.db').connect()

In [55]:
df = pd.read_csv("Data\PersonalData.csv",index_col=0)
df.head()

       date  programming  gaming  electronics  design
1  07/18/21         3178       0            0       0
2  07/19/21          346       0            0       0
3  07/20/21            0       0            0       0
4  07/21/21            0       0            0       0
5  07/22/21            0       0            0       0

In [47]:
df = df.drop(df.index[0],axis=1)
df.head(60)

KeyError: '[1.0] not found in axis'

In [48]:
df.fillna('0',inplace=True)

In [49]:
def get_sec(time_str):
    """Get Seconds from time."""
    h, m, s = time_str.split(':')
    return int(h) * 3600 + int(m) * 60 + int(s)

In [50]:
for i in df.index:
    if df.at[i,'programming'] == "0":
         df.at[i,'programming'] = "0:0:0"
    if df.at[i,'gaming'] == "0":
         df.at[i,'gaming'] = "0:0:0"
    if df.at[i,'electronics'] == "0":
         df.at[i,'electronics'] = "0:0:0"
    if df.at[i,'design'] == "0":
         df.at[i,'design'] = "0:0:0"

In [51]:
for i in df.index:
     df.at[i,'date'] = str(df.at[i,'date'])+"/2021"

In [52]:
df.head()

              date programming gaming electronics design
1.0  07/18/21/2021        3178  0:0:0       0:0:0  0:0:0
2.0  07/19/21/2021         346  0:0:0       0:0:0  0:0:0
3.0  07/20/21/2021       0:0:0  0:0:0       0:0:0  0:0:0
4.0  07/21/21/2021       0:0:0  0:0:0       0:0:0  0:0:0
5.0  07/22/21/2021       0:0:0  0:0:0       0:0:0  0:0:0

In [53]:
for i in df.index:
    df.at[i,'programming'] = get_sec(df.at[i,'programming'])
    df.at[i,'gaming'] = get_sec(df.at[i,'gaming'])
    df.at[i,'electronics'] = get_sec(df.at[i,'electronics'])
    df.at[i,'design'] = get_sec(df.at[i,'design'])

ValueError: not enough values to unpack (expected 3, got 1)

In [216]:
#df.drop(df.index[75],axis=0,inplace=True)

In [25]:
df.head(60)

          date programming gaming electronics design
1   07/18/2021        3178      0           0      0
2   07/19/2021         346      0           0      0
3   07/20/2021           0      0           0      0
4   07/21/2021           0      0           0      0
5   07/22/2021           0      0           0      0
6   07/23/2021           0   3588           0      0
7   07/24/2021         920   5520           0      0
8   07/25/2021        1200  12000           0      0
9   07/26/2021        2063  14400           0      0
10  07/27/2021        2876   8175           0      0
11  07/28/2021        1393   3298           0      0
12  07/29/2021        3773   6240           0      0
13  07/30/2021           0   6142           0      0
14  07/31/2021        4020   3360           0      0
15  08/01/2021        4333   7948           0      0
16  08/02/2021         240  10080           0      0
17  08/03/2021           0  13020           0      0
18  08/04/2021           0  14400           0      0
19  08/05/2021         900   5460           0      0
20  08/06/2021        3900   1800           0      0
21  08/07/2021           0      0           0      0
22  08/08/2021        3128   9180           0      0
23  08/09/2021        2977   3600           0      0
24  08/10/2021           0      0           0      0
25  08/11/2021           0   1549           0      0
26  08/12/2021        5137   4500           0      0
27  08/13/2021           0  14400           0      0
28  08/14/2021           0      0           0      0
29  08/15/2021           0   3600           0      0
30  08/16/2021        1283   2400           0      0
31  08/17/2021        1596   5439           0      0
32  08/18/2021        1247   1200           0      0
33  08/19/2021           0      0           0      0
34  08/20/2021           0   1800           0      0
35  08/21/2021        1591      0           0      0
36  08/22/2021           0   2271           0      0
37  08/23/2021        2539      0           0      0
38  08/24/2021        1820   5700        1500      0
39  08/25/2021        1506   4245           0      0
40  08/26/2021           0   1491        1590      0
41  08/27/2021        2700   5460           0      0
42  08/28/2021       10310   6772        1607      0
43  08/29/2021        3123  13800        1521      0
44  08/30/2021        1100  11840           0      0
45  08/31/2021         656   3166           0      0
46  09/01/2021        1458   7956        1860      0
47  09/02/2021        4172      0           0      0
48  09/03/2021           0   6000           0      0
49  09/04/2021           0  14134           0      0
50  09/05/2021        1200  12000        4740      0
51  09/06/2021           0   7200           0      0
52  09/07/2021        3517      0        2100      0
53  09/08/2021           0      0           0      0
54  09/09/2021       11940      0           0      0
55  09/10/2021           0      0        1069      0
56  09/11/2021           0      0           0      0
57  09/12/2021           0  21600           0      0
58  09/13/2021           0   7200           0      0
59  09/14/2021        1200   5400        1200      0
60  09/15/2021           0   5400         997      0

In [29]:
df['date'] = pd.to_datetime(df['date'],format='%m/%d/%Y')
for i in df.index:
    df.at[i,'date'] = datetime.datetime.strftime(df.at[i,'date'],'%m/%d/%y')
print(df['date'])

1     07/18/21
2     07/19/21
3     07/20/21
4     07/21/21
5     07/22/21
        ...
77    10/02/21
78    10/03/21
79    10/04/21
80    10/05/21
81    10/06/21
Name: date, Length: 81, dtype: object

In [30]:
df.to_csv('Data\PersonalData.csv')

In [31]:
df.tail(60)

        date programming gaming electronics design
22  08/08/21        3128   9180           0      0
23  08/09/21        2977   3600           0      0
24  08/10/21           0      0           0      0
25  08/11/21           0   1549           0      0
26  08/12/21        5137   4500           0      0
27  08/13/21           0  14400           0      0
28  08/14/21           0      0           0      0
29  08/15/21           0   3600           0      0
30  08/16/21        1283   2400           0      0
31  08/17/21        1596   5439           0      0
32  08/18/21        1247   1200           0      0
33  08/19/21           0      0           0      0
34  08/20/21           0   1800           0      0
35  08/21/21        1591      0           0      0
36  08/22/21           0   2271           0      0
37  08/23/21        2539      0           0      0
38  08/24/21        1820   5700        1500      0
39  08/25/21        1506   4245           0      0
40  08/26/21           0   1491        1590      0
41  08/27/21        2700   5460           0      0
42  08/28/21       10310   6772        1607      0
43  08/29/21        3123  13800        1521      0
44  08/30/21        1100  11840           0      0
45  08/31/21         656   3166           0      0
46  09/01/21        1458   7956        1860      0
47  09/02/21        4172      0           0      0
48  09/03/21           0   6000           0      0
49  09/04/21           0  14134           0      0
50  09/05/21        1200  12000        4740      0
51  09/06/21           0   7200           0      0
52  09/07/21        3517      0        2100      0
53  09/08/21           0      0           0      0
54  09/09/21       11940      0           0      0
55  09/10/21           0      0        1069      0
56  09/11/21           0      0           0      0
57  09/12/21           0  21600           0      0
58  09/13/21           0   7200           0      0
59  09/14/21        1200   5400        1200      0
60  09/15/21           0   5400         997      0
61  09/16/21        2690      0           0      0
62  09/17/21           0      0           0      0
63  09/18/21           0  10800           0      0
64  09/19/21        3033   4754        1525      0
65  09/20/21        4721   9360           0      0
66  09/21/21           0   7200           0      0
67  09/22/21        2586  10800           0      0
68  09/23/21        3594   4394           0      0
69  09/24/21        2280   7980           0      0
70  09/25/21         573      0           0      0
71  09/26/21        2880      0           0      0
72  09/27/21         900      0         300      0
73  09/28/21         600   1250        1500      0
74  09/29/21        7200    912           0   1483
75  09/30/21           0   1354           0      0
76  10/01/21           0   9840           0      0
77  10/02/21           0   9420        1200      0
78  10/03/21        6060  12600           0   2951
79  10/04/21        2040      0           0    461
80  10/05/21        3600      0           0   2880
81  10/06/21           0   5196           0      0

In [34]:
df.to_sql('PersonalData',engine,if_exists='replace',index=False)