In [97]:
import sqlite3
import pandas as pd
import sqlalchemy
import datetime

In [101]:
connection = sqlite3.connect('Data\PersonalData.db')
cursor = connection.cursor()
engine = sqlalchemy.create_engine('sqlite:///Data/PersonalData.db').connect()
#df = pd.read_sql_table('PersonalData',engine,index_col=1)
df = pd.read_csv("Data\PersonalData.csv",index_col=0)
print(df.head())

       date  programming  gaming  electronics  design
1  07/18/21         3178       0            0       0
2  07/19/21          346       0            0       0
3  07/20/21            0       0            0       0
4  07/21/21            0       0            0       0
5  07/22/21            0       0            0       0

In [102]:
def get_sec(time_str):
    """Get Seconds from time."""
    h, m, s = time_str.split(':')
    return int(h) * 3600 + int(m) * 60 + int(s)

In [103]:
# new_data = {'date':'10/03/2021','programming':get_sec("01:00:00"),'gaming':0,'electronics':0,'design':0}
# new_row = pd.DataFrame(new_data,index=[0])
# new_row['date'] = pd.to_datetime(new_row['date'],format='%m/%d/%Y')
# new_row['date'] = new_row['date'].dt.date

In [88]:
df.at[0,'date'] = datetime.datetime.strptime("2021-07-17",'%Y-%m-%d').date()

In [104]:
print(df.tail())

        date  programming  gaming  electronics  design
77  10/02/21            0    9420         1200       0
78  10/03/21         6060   12600            0    2951
79  10/04/21         2040       0            0     461
80  10/05/21         3600       0            0    2880
81  10/06/21            0    5196            0       0

In [58]:
# df = df.groupby(df.date,as_index=False).sum()
for i in df.index:
    #print(type(df.at[i,'date']))
#     df.at[i,'date'] = datetime.datetime.strptime(str(df.at[i,'date']),'%Y-%m-%d').date()
    df.at[i,'date'] = datetime.datetime.strftime(df.at[i,'date'],'%m/%d/%y')

In [60]:
df.tail()

        date  programming  gaming  electronics  design
72  09/27/21          900       0          300       0
73  09/28/21            0    1250         1500       0
74  09/29/21            0       0            0       0
75  09/30/21            0       0            0       0
76  10/01/21            0       0            0       0

In [95]:
df.groupby(['date'],inplace=True).sum()

TypeError: groupby() got an unexpected keyword argument 'inplace'

In [105]:
df.tail()

        date  programming  gaming  electronics  design
77  10/02/21            0    9420         1200       0
78  10/03/21         6060   12600            0    2951
79  10/04/21         2040       0            0     461
80  10/05/21         3600       0            0    2880
81  10/06/21            0    5196            0       0

In [106]:
df.to_sql('PersonalData',engine,if_exists='replace',index=False)

In [107]:
df.tail()

        date  programming  gaming  electronics  design
77  10/02/21            0    9420         1200       0
78  10/03/21         6060   12600            0    2951
79  10/04/21         2040       0            0     461
80  10/05/21         3600       0            0    2880
81  10/06/21            0    5196            0       0